[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "google-genai>=1.52.0",
    "google-generativeai>=0.8.5",
    "openai>=2.8.1",
]
